#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
  margin: 0 0 12px 0;
}

.player-text {
  color: var(--second-blue-100);
  filter: drop-shadow(1.5px 0 0 var(--second-blue-700))
          drop-shadow(-1.5px 0 0 var(--second-blue-700))
          drop-shadow(1.5px 1.5px 0 var(--second-blue-500))
          drop-shadow(0px -1.5px 0 var(--second-blue-500));
}

.ai-text {
  color: var(--second-pink-100);
  filter: drop-shadow(1.5px 0 0 var(--second-pink-700))
          drop-shadow(-1.5px 0 0 var(--second-pink-700))
          drop-shadow(1.5px 1.5px 0 var(--second-pink-500))
          drop-shadow(0px -1.5px 0 var(--second-pink-500));
}

.draw-text {
  color: var(--second-yellow-100);
  filter: drop-shadow(1.5px 0 0 var(--second-yellow-700))
          drop-shadow(-1.5px 0 0 var(--second-yellow-700))
          drop-shadow(1.5px 1.5px 0 var(--second-yellow-500))
          drop-shadow(0px -1.5px 0 var(--second-yellow-500));
}

.container {
  place-items: center;
}

.title {
  color: var(--primary-700);
  margin: 0;
}

.game {
  background-color: var(--primary-200);
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center; 
  padding: 4px 32px;
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
}

.appBtns {
  position: absolute;
  top: 18px;
  right: 24px;
  display: flex;
  gap: 8px;
}

.homeBtn,
.moreBtns {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 16px;
  background-color: var(--primary-600);
  color: var(--white);
  box-shadow: 0px 6px 0 var(--primary-700);
  cursor: pointer;
  transition: all 0.1s ease;
}

.homeBtn:hover,
.moreBtns:hover {
  background-color: var(--primary-500);
}

.homeBtn:active,
.moreBtns:active,
.optionBtn:active {
  transform: translateY(3px);
  box-shadow: 0px 3px 0 var(--primary-700);
}

.homeBtn svg,
.moreBtns svg {
  width: 30px;
  height: 30px;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 110%; /* below the button */
  right: 0;
  min-width: 180px;
  background-color: var(--white);
  border-radius: 16px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.dropdownMenu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-200);
  transition: 0.3s;
  border-radius: 34px;
}

/* The circle knob */
.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: var(--second-pink-100);
  transition: 0.3s;
  border-radius: 50%;
}

/* When toggled ON */
.switch input:checked + .slider {
  background-color: var(--primary-600);
}

/* Move the circle to the right */
.switch input:checked + .slider::before {
  transform: translateX(22px);
}

.errorText {
  margin: 0;
  color: var(--error);
  font-size: 14px;
  text-align: left;
}

.scoreboard {
  width: 100%;
  background-color: var(--primary-900);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
  margin-bottom: 16px;
  padding: 6px;
  border-radius: 16px;
  box-sizing: border-box;
}

.scoretext {
  font-size: 1.4rem;
  font-weight: 500;
  width: 80px;
}

.scoretext.player {
  color: var(--second-blue-100);
}

.scoretext.ai {
  color: var(--second-pink-100);
}

.scores {
  width: 80px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
}

.performanceBox {
  padding: 8px 16px;
  background-color: var(--white);
  border-left: 10px solid var(--primary-500);
  border-radius: 16px;
  margin-bottom: 12px;
}

.performanceTitle {
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-900);
}

.performanceText {
  margin: 0;
  text-align: left;
  color: var(--primary-600);
}

.wrapper {
  width: 100%;
  padding:  0 16px 16px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 12px;
}

.modeBtns,
.optionBtn {
  padding: 1rem 1.2rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--white);
  background-color: var(--primary-600);
  box-shadow: 0px 6px 0 var(--primary-700);
  transition: border-color 0.2s ease;
  cursor: pointer;
}

.modeBtns.easy {
  background-color: var(--second-yellow-100);
  box-shadow: 0px 6px 0 var(--second-yellow-500);
  color: var(--second-yellow-700);
}

.modeBtns.medium {
  background-color: var(--second-blue-100);
  box-shadow: 0px 6px 0 var(--second-blue-500);
  color: var(--second-blue-700);
}

.modeBtns.hard {
  background-color: var(--second-pink-100);
  box-shadow: 0px 6px 0 var(--second-pink-500);
  color: var(--second-pink-700);
}

.modeBtns.easy:hover {
  border-color: var(--second-yellow-700);
}

.modeBtns.medium:hover {
  border-color: var(--second-blue-700);
}

.modeBtns.hard:hover {
  border-color: var(--second-pink-700);
}

.modeBtns.easy:active {
  transform: translateY(3px);
  box-shadow: 0px 3px 0 var(--second-yellow-700);
}

.modeBtns.medium:active {
  transform: translateY(3px);
  box-shadow: 0px 3px 0 var(--second-blue-700);
}

.modeBtns.hard:active {
  transform: translateY(3px);
  box-shadow: 0px 3px 0 var(--second-pink-700);
}

.optionBtn:hover {
  border-color: var(--second-purple);
}

.board {
  background-color: var(--primary-900);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 18px 18px 24px 18px;
  box-sizing: border-box;
  border-radius: 16px;
}

.boardRow {
  display: flex;
  gap: 12px;
}

.square {
  height: 68px;
  width: 74px;
  border: 2px solid transparent;
  border-radius: 12px;
  background-color: var(--primary-600);
  box-shadow: 0px 6px 0 var(--primary-700);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.square:hover {
  border-color: var(--second-purple);
}

.square:active {
  transform: translateY(3px);
  box-shadow: 0px 3px 0 var(--primary-700);
}

.square.x {
  color: var(--second-blue-100); 
}

.square.o {
  color: var(--second-pink-100); 
}

.optionBtns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 12px 0;
}

@media screen and (min-width: 320px) {
  .title {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1152px) {
  .title {
    margin-top: 42px;
  }
}

@media screen and (min-width: 1920px) {
  .title {
    margin-top: 42px;
  }
}
