@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400..700&display=swap');

:root {
  font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --primary-100: rgba(156, 174, 255);
  --primary-200: rgba(146, 157, 247);
  --primary-500: rgba(72, 77, 158);
  --primary-600: rgba(61, 66, 147);
  --primary-700: rgba(50, 54, 124);
  --primary-900: rgba(44, 44, 94);

  --second-pink-100: rgba(255, 199, 246);
  --second-pink-300: rgba(222, 156, 211);
  --second-pink-500: rgba(139, 112, 189);
  --second-pink-700: rgb(110, 52, 101);
  --second-blue-100: rgba(162, 226, 253);
  --second-blue-500: rgba(103, 127, 189);
  --second-blue-700: rgb(25, 80, 104);
  --second-yellow-100: rgba(254, 235, 181);
  --second-yellow-500: rgba(145, 122, 79);
  --second-yellow-700: rgb(117, 93, 26);
  --second-purple: #646cff;

  --white: rgba(247, 250, 255);
  --error: rgb(214, 58, 58);

  --font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-100);
  background-image: url('./assets/grid-pattern.svg');
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 320px) {
  body {
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1152px) {
  body {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1920px) {
  body {
    padding: 0 220px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
